BouncingBall/.idea/.name
BouncingBall/.idea/compiler.xml
BouncingBall/.idea/encodings.xml
BouncingBall/.idea/gradle.xml
BouncingBall/.idea/misc.xml
BouncingBall/.idea/modules.xml
BouncingBall/.idea/runConfigurations.xml
BouncingBall/.idea/vcs.xml
BouncingBall/.idea/inspectionProfiles/Project_Default.xml
BouncingBall/.idea/inspectionProfiles/profiles_settings.xml
BouncingBall/.idea/dictionaries/Ashtray.xml
BouncingBall/.idea/copyright/profiles_settings.xml
BouncingBall/app/src/main/java/org/wus32/exercise/bb/test/JavaTest.java
TouchPaint/.gitignore
TouchPaint/.idea/.name
TouchPaint/.idea/codeStyleSettings.xml
TouchPaint/.idea/compiler.xml
TouchPaint/.idea/encodings.xml
TouchPaint/.idea/gradle.xml
TouchPaint/.idea/misc.xml
TouchPaint/.idea/modules.xml
TouchPaint/.idea/runConfigurations.xml
TouchPaint/.idea/vcs.xml
TouchPaint/.idea/copyright/profiles_settings.xml
TouchPaint/.idea/
TouchPaint/
